.hero .banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero .banner h1 {
  margin: 0 !important;
  background-clip: text;
  background: -webkit-linear-gradient(#4ade80, #0891b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero .banner p {
  margin-top: 1rem !important;
  color: #0891b2;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.hero .links {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.hero .links p {
  display: contents;
  padding: 0;
  margin: 0;
}

.hero .links a {
  display: block;
  flex: 1;
  padding: 0.25rem 1rem 0.25rem 1rem;
  white-space: nowrap;

  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.15);
  border-radius: 1rem;
  background-color: rgb(14 165 233);
  text-align: center;
  text-decoration: none !important;

  font-size: 1.1rem;
  border-width: 1px;
  border-color: transparent;
}

.dark .hero .links a {
  background-color: #3b436e;
}

.hero .links a:link, .hero .links a:visited  {
  color: white;
}

.dark .hero .links a:link, .dark .hero .links a:visited {
  color: #f1f1f1;
}

.hero .links a:hover {
  background-color: #5eead4;
}

.dark .hero .links a:hover {
  border-color: rgb(40, 74, 117);
  color: var(--doctave-theme-main);
}

.content-markdown h1,
.content-markdown h2 {
  color: #14b8a6 !important;
}

html.dark .content-markdown h1,
html.dark .content-markdown h2 {
  color: #2dd4bf !important;
}

.content-markdown h3,
.content-markdown h4 {
  color: #0891b2 !important;
}

.window {
  display: flex;
  overflow: hidden;
  position: relative;
  /* height: 21.625rem; */
  max-height: 60vh;
  margin-bottom: 2rem;
}

.window .outer {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
}

.window .bar {
  flex: none;
  border-bottom-width: 1px;
  border-color: rgb(100 116 139);
  background-color: rgb(30 41 59);
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.window .bar-dots {
  display: flex;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-left: 0.375rem;
  align-items: center;
  gap: 0.25rem;
  height: 2rem;
}

.window .bar-dot {
  background-color: rgb(71 85 105);
  border-radius: 9999px;
  width: 0.625rem;
  height: 0.625rem;
}

.window .bar-text {
  display: flex;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  flex: none;
  align-items: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(148 163 184);
}

.window .inner {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
  border-bottom-right-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
  overflow: hidden;
}

.window .inner pre.codeblock {
  margin: 0;
  flex: 1 1 auto;
  min-height: 0;
  border-radius: 0;
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  border-color: rgb(155, 165, 188);
  border-width: 0px 1px 1px 1px;
}

.window .inner.terminal pre.codeblock {
  color: #e9e9f4;
  background-color: rgb(15 23 42);
}