img[src*="badge.svg"] {
    display: inline-block;
    margin: 0 !important;
    display: none;
}

img[src*="scalesocket.svg"] {
    display: inline-block;
    margin: 0 !important;
    display: none;
}

.header-tabs > div:first-child {
    display: none;
}